{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocad</title>
    <link rel="stylesheet" href="pg1.css">
    <style>
        body{
            border: double rgb(36, 36, 56) 5px;
            margin: 20px 100px;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>AUTOCAD</h2>
    <hr>
    <div class="container2">
        <div class="text">
            <p>
                "Embark on a design journey with our AutoCAD courses, 
                where precision and innovation converge seamlessly. 
                Whether you're a budding architect or an experienced professional, 
                our expert-led programs empower you to master the art of 2D and 3D drafting. 
                Explore the intricacies of AutoCAD's versatile tools, 
                from creating detailed blueprints to visualizing complex structures, 
                and elevate your design proficiency to new heights."
            </p>
        </div>
        
        <div class="image">
            <img src="{%static 'images/cad1.jpg'%}" alt="Your Image Description">
        </div>
    </div>
    <div class="container2">
        <div class="image">
            <img src="{%static 'images/cad2.webp'%}" alt="Your Image Description">
        </div>
        <div class="text">
            <p>
                "Discover the transformative power of AutoCAD as you immerse yourself in our specialized courses. 
                Unleash your creativity through intuitive design workflows, where every line and 
                dimension comes to life. From conceptualizing architectural marvels to engineering 
                intricate machinery, our hands-on training ensures you harness the full potential of AutoCAD, 
                positioning you at the forefront of precision design in diverse industries."
</body>
</html>