{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation</title>
    <link rel="stylesheet" href="pg1.css">
    <style>
        body{
            border: double rgb(36, 36, 56) 5px;
            margin: 20px 100px;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>AUTOMATION</h2>
    <hr>
    <div class="container2">
        <div class="text">
            <p>
                "Step into the future of efficiency and innovation with our Automation courses. 
                From streamlining processes to enhancing productivity, our expert-led 
                programs empower you tomaster the art of automation, 
                transforming industries and accelerating your career."
            </p>
        </div>
        
        <div class="image">
            <img src="{%static 'images/Automation1.jpg'%}" alt="Your Image Description">
        </div>
    </div>
    <div class="container2">
        <div class="image">
            <img src="{%static 'images/automation2.jpg'%}" alt="Your Image Description">
        </div>
        <div class="text">
            <p>
                "Unlock the potential of smart technologies with our Automation courses. 
                Dive into the world of robotics, artificial intelligence, and intelligent systems, 
                and become a catalyst for change in the digital age. 
                Elevate your skills and engineer a future fueled by automation excellence."
            </p>
        </div>
        
        
    </div>
</body>
</html>