{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Marketing</title>
    <link rel="stylesheet" href="pg1.css">
    <style>
        body{
            border: double rgb(36, 36, 56) 5px;
            margin: 20px 100px;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>DIGITAL MARKETING</h2>
    <hr>
    <div class="container2">
        <div class="text">
            <p>
                "Navigate the ever-evolving landscape of digital marketing with our comprehensive courses. 
                Dive into strategic planning and analytics, mastering the art of reaching target audiences 
                across various online channels. From optimizing campaigns to interpreting data insights, 
                our expert-led program equips you with the tools to shape impactful digital marketing 
                strategies that resonate in today's dynamic business environment."
            </p>
        </div>
        
        <div class="image">
            <img src="{%static 'images/DM-home.jpg'%}" alt="Your Image Description">
        </div>
    </div>
    <div class="container2">
        <div class="image">
            <img src="{%static 'images/DM-home.jpg'%}" alt="Your Image Description">
        </div>
        <div class="text">
            <p>
                "Embark on a dynamic journey through the realms of digital marketing. 
                Explore innovative tactics, from SEO to social media, and develop proficiency 
                in leveraging online platforms to amplify brand visibility. With a focus on real-world applications, 
                our courses empower you to craft compelling narratives and execute data-driven campaigns, 
                positioning you at the forefront of the digital marketing revolution."
            </p>
</body>
</html>