{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DS & AI</title>
    <link rel="stylesheet" href="pg1.css">
    <style>
        body{
            border: double rgb(36, 36, 56) 5px;
            margin: 20px 100px;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>DATA SCIENCE & AI</h2>
    <hr>
    <div class="container2">
        <div class="text">
            <p>
                "Step into the future of efficiency and innovation with our Machine Learning and artificial intelligence courses. 
                From streamlining processes to enhancing productivity, our expert-led 
                programs empower you tomaster the art of AI, 
                transforming industries and accelerating your career."
            </p>
        </div>
        
        <div class="image">
            <img src="{%static 'images/ds1.jpg%'}" alt="Your Image Description">
        </div>
    </div>
    <div class="container2">
        <div class="image">
            <img src="{%static 'images/ds2.png'%}" alt="Your Image Description">
        </div>
        <div class="text">
            <p>
                "Embark on a coding journey with our Python courses designed to ignite your passion 
                for programming. Embrace Python's readability and expressiveness as you navigate 
                through its vast ecosystem. From scripting to automation, our expert-led curriculum 
                ensures you gain the skills to code with confidence, making Python the language of 
                choice for your diverse projects."
            </p>
</body>
</html>