{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVA FULL STACK</title>
    <link rel="stylesheet" href="pg1.css">
    <style>
        body{
            border: double rgb(36, 36, 56) 5px;
            margin: 20px 100px;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>JAVA FULL STACK</h2>
    <hr>
    <div class="container2">
        <div class="text">
            <p>
                "Dive into the comprehensive world of Java Full Stack Development with our immersive courses. 
                From server-side logic to crafting dynamic user interfaces, 
                our program covers the entire spectrum of web development. 
                Acquire proficiency in Java frameworks like Spring and Hibernate, 
                coupled with front-end technologies such as React or Angular. 
                Master the art of building scalable, responsive applications 
                that align with industry standards, preparing you to thrive as a skilled Full Stack Developer."
            </p>
        </div>
        
        <div class="image">
            <img src="{%static 'images/java1.jpeg'%}" alt="Your Image Description">
        </div>
    </div>
    <div class="container2">
        <div class="image">
            <img src="{%static 'images/java2.png'%}" alt="Your Image Description">
        </div>
        <div class="text">
            <p>
                "Unlock the potential of smart technologies with our Java courses. 
                Dive into the world of technical systems, 
                and become a catalyst for change in the digital age. 
                Elevate your skills and engineer a future fueled by automation excellence."
            </p>
</body>
</html>