{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pg1.css">
    <style>
        body{
            border: double rgb(36, 36, 56) 5px;
            margin: 20px 100px;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>PLC</h2>
    <hr>
    <div class="container2">
        <div class="text">
            <p>
                "Explore the transformative capabilities of PLCs through our specialized courses 
                designed to elevate your expertise in industrial automation. 
                From understanding ladder logic to implementing real-time control solutions, 
                our hands-on training equips you with the knowledge to navigate the complexities 
                of PLC programming. Join us on this immersive learning experience and become proficient 
                in shaping the future of automated systems across diverse industries."
            </p>
        </div>
        
        <div class="image">
            <img src="{%static 'images/plc1.jpg'%}" alt="Your Image Description">
        </div>
    </div>
    <div class="container2">
        <div class="image">
            <img src="{static 'images/plc2.jpg'%}" alt="Your Image Description">
        </div>
        <div class="text">
            <p>
                "Embark on a journey into the realm of automation with our PLC courses, 
                where precision and control converge seamlessly. 
                Whether you're an aspiring engineer or an industry professional, 
                our expert-led programs empower you to master the art of Programmable Logic Controllers (PLCs). 
                Dive into the world of industrial automation, from designing logic circuits 
                to optimizing control processes, 
                and gain the skills needed to revolutionize manufacturing environments."
            </p>
</body>
</html>