{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Full Stack</title>
    <link rel="stylesheet" href="pg1.css">
    <style>
        body{
            border: double rgb(36, 36, 56) 5px;
            margin: 20px 100px;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>PYTHON FULL STACK</h2>
    <hr>
    <div class="container2">
        <div class="text">
            <p>
                "Unleash the versatility of programming with our Python courses. 
                Whether you're a coding novice or an experienced developer, dive into 
                the elegance of Python, where simplicity meets power. 
                From building web applications to analyzing data, our comprehensive programs guide 
                you through the full spectrum of Python's capabilities, 
                empowering you to turn concepts into code effortlessly."
            </p>
        </div>
        
        <div class="image">
            <img src="{static 'images/python1.png'%}" alt="Your Image Description" style="height: 70%;width: 70%;margin-left: 50px;">
        </div>
    </div>
    <div class="container2">
        <div class="image">
            <img src="{static 'images/python2.jpg'%}" alt="Your Image Description" style="height: 70%;">
        </div>
        <div class="text">
            <p>
                "Embark on a coding journey with our Python courses designed to ignite your passion 
                for programming. Embrace Python's readability and expressiveness as you navigate 
                through its vast ecosystem. From scripting to automation, our expert-led curriculum 
                ensures you gain the skills to code with confidence, making Python the language of 
                choice for your diverse projects."
            </p>
</body>
</html>